@import 'base';
@import '../components/commonComponents/navigationTabs';
@import '../components/configView/configPreviewCard';
@import '../components/configView/configImageCard';

.config-view{
  padding-top: $header-height;
  background-color: $white90;
}

.view-all-btn {
  height: 32px;
  width: 100%;
  color: $primary;
  text-align: center;
  line-height: 42px;
  border-top: 1px solid $border-color;
}

.config-info-card {
	select {
		width: 50px;
		height: 50px;
	}
}
