@import 'base';
@import 'prefixer';
@import '../components/commonComponents/inputBox';

.edit-profile-container {
  padding: 80px 16px;
  .edit-profile-section {
    margin-bottom: 24px;
  }
  .edit-profile-header {
    margin-bottom: 8px;
  }
  .user-img-placeholder {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    .remove-user-img {
      height: 30%;
      width: 100%;
      top: 70%;
      position: relative;
      background-color: #000;
      opacity: 0.5;
      cursor: pointer;
      padding-top: 6px;
    }
    .remove-text {
      color: #fff;
    }
  }
  .user-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 50%;
  }
  .ep-btn {
    @include btn($primary, 50px, 16px, 100%);
    margin: 12px 0;
    &.disabled {
      background: #E6E6E6;
      border: 1px solid #CDCDCD;
      color: #999;
      pointer-events: none;
    }
  }
  .phone-text {
    margin-top: 8px;
    margin-left: 4px;
  }
  .ep-email {
    margin-left: 20px;
    color: $white90;
    margin-top: 8px;
  }
}
