@import 'base';
@import 'prefixer';
@import 'views/shellView';
@import 'components/forms/captcha';
@import 'components/notif';
@import 'components/forms/contactForm';
@import 'components/home/citySelect';
@import 'views/offlineView';

body.offline{
  .off-card:not(.seen){
    position: relative;
    pointer-events: none;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      opacity: 0.6;
      z-index: 1;
    }
  }
  .oe{
    color: grey!important;
  }
}
