@import 'prefixer';
@import 'base';
@import '../components/forms/loginForm';
@import '../components/forms/signupForm';
@import '../components/notif';

.login-external {
  padding: 0 16px;
  margin-top: 120px;

  .login-icon{
    background-color: #fff;
    border-radius: 1px;
    width: 24px;
    height: 24px;
    float: left;
    margin: 13px;
  }

  #gSignIn{
    height:50px;
    margin: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    background-color: #4285f4;

    .gInner{
      border: 1px solid transparent;
    }
    .gText{
      font-size: 16px;
      color: #fff;
      line-height: 50px;
      padding: 0 60px 0 0;
    }
  }
  .fb-btn {
    @include btn(#3b5998, 50px, 16px, 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    padding: 0;
    .fb-text{
      padding: 0 60px 0 0;
    }
    .fb-icon{
      float: left;
      background: #fff;
      color: #3b5998;
    }

    .icon{
      position: relative;
      top: 7px;
      left: 2px;
      font-size: 18px;
    }
  }


  &.text-center {
    text-align: center;
  }
}
.login-dailogue{
  background-size: cover;
  background-image: url('../../../assets/images/login-dailogue.png');
}

.login-internal {
  padding: 0 16px;
  margin-top: 20px;
  .login-btn{
    border-right: 1px solid $white80;
  }
  .btns{
    display: inline-block;
    width: 49%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: $black90;
  }
}
