@import 'base';

.shortlist-list{
  margin-top:50px;
}
 .contacted-list{
  margin-top:50px;
 }


.user-profile-container{
  overflow: hidden;
  position: relative;
  .top-banner{
    background-color: $primary;
    background-size: cover;
    height: 200px;
    color: $white;
    position: relative;
    .top-contents-container{
      position: absolute;
      top: 40px;
      width: 100%;
    }
  }

  .contents{
    min-height: 300px;
  }

  .user-avatar{
    vertical-align: middle;
    height: 61px;
    margin: 0 auto;
    width: 61px;
    background: url('../../../assets/images/mystery-man.jpg') no-repeat center;
    background-size: cover;
    border-radius: 50%;
  }
  .user-info{
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
  .user-title{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
    padding-top: 4px;
  }

  .up-option {
    height: 70px;
    padding: 25px;
    border-bottom: 1px solid $white90;
    .icon {
      margin-right: 20px;
    }
    .up-count {
      color: #D70A64;
      font-size: 12px;
      height: 25px;
      width: 50px;
      float: right;
      text-align: center;
      line-height: 25px;
    }
    .icon-arrow {
      float: right;
    }
  }
}
.up-list-container {
  margin-top: 40px;
  .image-section {
    > div{
      background-image: url(../../../assets/images/loading_placeholder.jpg);
    }
  }
}
