@import 'base';
@import 'prefixer';
@import 'components/vouchers/voucherListCard';
@import 'components/vouchers/voucherDetails';
@import 'components/commonComponents/gallerySwipe';


$another-purple: #423963;
.vl-container{
	background-color: $white95;
	.vl-heading{
		font-size: 14px;
		font-weight: 700;
		padding: 20px 10px;
		margin: 0;
	}
	.vl-header-container{
		background-color: $another-purple;
		color: $white;
	}
}
